body {
    background-color: burlywood;
}

navbar navbar-expand-lg navbar-light bg-light
{
    background-color: burlywood;
}

div  {
    background-color: rgb(95, 121, 235);
}
.vari {
   color: rgba(1, 248, 153, 0.904)123);
   background-color: green;
}