html {
    background-color: rgba(233, 245, 196, 0.557);
    
  }

h1 { 
  text-align: center;
  color: black;
  font-size: 16px;
  text-transform: uppercase;
  border-bottom: 5px solid royalblue;
  border-bottom-width: medium; 
  border-bottom-style: groove;
  font-family: Arial, Helvetica, sans-serif;

}

h2 { 
  color: brown;
  font-size: 30px;
}

p { 
  color: blue;
  margin-left: 30px;
 
}

blockquote { 
  color: red
  
}
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: blue;
}

img {
  border: 1px solid rgba(235, 8, 8, 0.5);
  border-radius: 40px;
  padding: 13px;
  width: 250px;
  
}

.myButton {
  
  color: rgb(255, 255, 255); font-size: 13px; line-height: 13px; padding: 20px;
   border-radius: 70px; font-family: Georgia, serif; font-weight: normal; text-decoration: none;
    font-style: normal; font-variant: normal; text-transform: none; 
    background-image: linear-gradient(to right, rgba(245, 14, 234, 0.274) 0%, rgba(255, 153, 0, 0.274) 100%); 
     box-shadow: rgba(218, 255, 9, 0.27) 6px -5px 9px 0px; border: 2px solid rgb(0, 0, 0); 
     display: inline-block;}
  .myButton:hover {
  background: #b3d2e7; }
  .myButton:active {
  background: #f3ad7f; }

#link {
  text-align: center;
  display: block;
}
address {
  margin-left: 30px;
}
