html {
    background-color: rgba(199, 199, 199, 0.557);
    
  }

h1 { 
  color: black
}

h2 { 
  color: brown
}

p { 
  color: blue;

}

.myButton {
  color: rgb(255, 255, 255); font-size: 13px; line-height: 13px; padding: 6px; border-radius: 7px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgba(0, 0, 0, 0.27) 6px -5px 9px 0px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
  .myButton:hover {
  background: #1C6EA4; }
  .myButton:active {
  background: #144E75; }